/*
Colour Palette
White: #FFFFFF; rgba(255,255,255,1)
Grey: #F4F4F4; rgba(244,244,244,1)
Black: #0F0F0F; rgba(15,15,15,1)

Project Highlight Colours
Mug Shop Orange: #D55326; rgba(213,83,38,1)
Posable Blue: #5CAAFF; rgba(92,170,255,1)
Food For You Yellow: #EDB939; rgba(237,185,57,1)
Buyit Blue: #3174B0; rgba(49,116,176,1)
*/
/*
ul {
  list-style: none;
}*/
/* animation */
#intro h1 {
  animation: 2s intro-fade 1 ease-out;
  animation-fill-mode: both;
}

#intro h2 {
  animation: 2s intro-fade 0.7s 1 ease-out;
  animation-fill-mode: both;
}

@keyframes intro-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* animation end */
main {
  padding-top: 56px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  color: rgba(15, 15, 15, 1);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* button styles */
#cv-button {
  margin: 40px auto;
  text-align: center;
}

.button-arrow {
  float: right;
  padding-left: 8px;
  height: 21px;
}


.button {
  display: inline-block;
  background-color: rgba(15, 15, 15, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid rgba(15, 15, 15, 1);
  transition: .2s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(15, 15, 15, 1);
}

.button:active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(15, 15, 15, 1);
  font-weight: 400;
}

.button-contact {
  display: inline-block;
  background-color: rgba(15, 15, 15, 1);
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 0px;
  border: 2px solid rgba(15, 15, 15, 1);
  transition: 0.2s opacity;
  border-radius: 5px;
  margin: 20px;
  transition-duration: 0.1s;
  transition-property: background-color;
}

.button-contact:hover {
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(15, 15, 15, 1);
  font-weight: 400;
  text-decoration: none;
  border: 2px solid rgba(15, 15, 15, 1);
  margin: 20px;
}

.button-contact:active {
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(15, 15, 15, 1);
  font-weight: 400;
  text-decoration: none;
  border: 3px solid rgba(15, 15, 15, 1);
  margin: 20px;
}

/* social button style */
.social-button {
  width: 50px;
  height: 50px;
  object-fit: scale-down;
  margin: 10px 15px;
}

.social-link {
  text-decoration: none;
}

/* logo style */
.my-logo {
  height: 35px;
  width: auto;
  object-fit: contain;
}

/* hyper link style*/
.hyper-link {
  color: rgba(92, 170, 255, 1);
  text-decoration: none;
}

.hyper-link:visited {
  color: rgba(92, 170, 255, .8);
  text-decoration: none;
}

.hyper-link:hover {
  color: rgba(49, 116, 176, 1);
  text-decoration: underline;
}

header {
  background-color: rgba(244, 244, 244, .97);
  width: 100%;
  padding: 10px 0 4px;
  position: fixed;

  -webkit-box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.25);


  z-index: 1;
}

nav>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(15, 15, 15, 0.2);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul>li>a {
  padding: 0 15px;
  color: rgba(15, 15, 15, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

nav>ul>li>a:hover {
  text-decoration: underline;
}

/* footer styling */
#contact-footer {
  background-color: rgba(244, 244, 244, 1);
  text-align: center;
  padding: 20px;
}

/* layout styling */
.container {
  padding: 0 10px;
}

.container-gry {
  background-color: rgba(244, 244, 244, 1);
  display: inline-block;
  margin-top: 50px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  margin-top: 25px;
}

#projects .row {
  padding-bottom: 50px;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}


#projects {
  margin-top: 311px;
  padding-top: 15px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 1);
}

/* intro syling */
#intro {
  background-color: rgba(15, 15, 15, 1);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index: -1;
}

#intro h1 {
  font-size: 56px;
  line-height: 56px;
  padding-top: 20px;
  margin: 0px;
  color: rgba(255, 255, 255, 1);
  transition: .5s;
}

#intro h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.7);
  transition: .5s;
}


#intro p {
  color: rgba(255, 255, 255, .8);
}

#projects h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;

}
.project-description h3 {
  font-size: 26px;
  line-height: 30px;
  margin-top: 10px;
}
.project-description p {
  font-weight: 400;
  margin-bottom: 40px;
}

/* about styling */
.my-story h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 10px;
}

.my-story p {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: bolder;
  padding: 0 10px;
  padding-bottom: 15px;
}

#about-me-intro {
  padding-top: 15px;
}

.about-me-header {
  background: rgb(123, 152, 176);
  background: linear-gradient(45deg, rgba(123, 152, 176, 1) 31%, rgba(83, 108, 132, 1) 69%);
  border-radius: 10px;
}

.portrait {
  height: 297px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/*  centering code WIP
#my-skills {
  padding-left: 14%;
  padding-right: 14%;
}
*/
#my-skills {
  padding-left: 0px;
  padding-right: 0px;
}

.card-skills {
  color: rgba(15, 15, 15, 1);
  background-color: rgba(244, 244, 244, 1);
  width: 100%;
  border-radius: 10px;
}

.card-skills h3 {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-skills p {
  line-height: 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* project study style */
#project-intro {
  padding-top: 15px;
}

.project-stats h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  line-height: 30px;
  padding-top: 15px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.project-stats h4 {
  color: rgba(255, 255, 255, .75);
  font-size: 14px;
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.project-stats p {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: bolder;
  padding: 0 10px;
  padding-bottom: 15px;
}

.project-header {
  background: rgb(213, 83, 38);
  background: linear-gradient(45deg, rgba(213, 83, 38, 1) 31%, rgba(128, 49, 20, 1) 69%);
  border-radius: 10px;
}

.project-header-img {
  height: 297px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project-section h3 {
  font-size: 24px;
  padding-top: 20px;
}

.problem {
  background-color: rgba(244, 244, 244, 1);
  border-radius: 10px;
}

.objective {
  background-color: rgba(244, 244, 244, 1);
  border-radius: 10px;
}

.role {
  background-color: rgba(244, 244, 244, 1);
  border-radius: 10px;
}

.problem h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.problem span {
  font-weight: bold;
}

.problem p {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.objective h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.objective p {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.role h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.role p {
  line-height: 2;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.project-section {
  margin-top: 15px;
  margin-bottom: 15px;
  ;
  margin-left: auto;
  margin-right: auto;
}

.project-img {
  margin: 40px 0;
  border-radius: 10px;
}

.project-img-r {
  margin: 40px 0;
  border-radius: 10px;
}

.takeaway-banner {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(15, 15, 15, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 66%;
  }

  .col-md-7 {
    width: 60%;
  }
  .col-md-5 {
    width: 40%;
  }
  .col-md-6 {
    width: 50%;
  }

  .card-md-6l {
    width: 48%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .card-md-6r {
    width: 48%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .card-skills-md-5l {
    width: 48%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 0;
    margin-bottom: 2%;
  }

  .card-skills-md-5r {
    width: 48%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 0;
    margin-bottom: 2%;
  }

  .card-skills-md-5l h3,
  .card-skills-md-5r h3 {
    font-size: 20px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-skills-md-5l p,
  .card-skills-md-5r p {
    line-height: 2;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  [class*="card-"] {
    float: left;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  .navtoggle.responsive nav {
    padding: 0px;
  }
  .navtoggle.responsive li {
    display: block;
    padding: 0;
    border-top: 0px;
  }


  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
    padding: 0px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 75px;
  }

  .my-logo {
    height: 54px;
    width: auto;
    padding-top: 0;
    object-fit: contain;
  }

  #projects .row {
    border-bottom: 0;
  }

  #projects {
    margin-top: 413px;
  }

  .project-description-img {
    padding-left: 0;
  }

  .project-description h3 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .project-description p {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #project-intro {
    margin-top: 15px;
  }

  #about-me-intro {
    margin-top: 15px;
  }

  .project-section {
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
  }

  .project-header {
    background: rgb(213, 83, 38);
    background: linear-gradient(45deg, rgba(213, 83, 38, 1) 64%, rgba(128, 49, 20, 1) 100%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 367px;
    margin-bottom: 15px;
  }

  .project-stats {
    padding-top: 15px;
  }

  .img-align {
    padding-left: 0;
    margin-left: 0;
  }

  .project-header-img {
    height: 367px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  .problem h3 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
  }

  .problem span {
    font-weight: bold;
  }

  .objective h3 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
  }

  .objective p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .role h3 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
  }

  .role p {
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .takeaway-banner {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .takeaway-banner p {
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .project-text.fixed {
    position: -webkit- sticky;
    position: sticky;
    top: 75px;
  }

  .project-img {
    float: right;
  }

  .project-img-r {
    float: left;
  }

  #intro span {
    display: block;
  }

  #intro h1 {
    font-size: 80px;
    line-height: 80px;
    padding-top: 50px;
  }

  #intro h2 {
    font-size: 56px;
    font-weight: 500;
    line-height: 56px;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .about-me-header {
    background: rgb(123, 152, 176);
    background: linear-gradient(45deg, rgba(123, 152, 176, 1) 64%, rgba(83, 108, 132, 1) 100%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 395px;
    margin-bottom: 15px;
  }

  .portrait {
    height: 395px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  .my-story {
    padding-top: 15px;
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    .container-gry {
      margin-left: auto;
      margin-right: auto;
    }

    .card-lg-3l {
      width: 31%;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 0%;
      margin-right: 0%;
      border-radius: 20px;
      padding: 0 20px;
      height: 366px;
    }

    .card-lg-3m {
      width: 31%;
      margin-top: 2%;
      margin-left: 3.5%;
      margin-right: 3.5%;
      margin-bottom: 2%;
      border-radius: 20px;
      padding: 0 20px;
      height: 366px;
    }

    .card-lg-3r {
      width: 31%;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 0%;
      margin-right: 0%;
      border-radius: 20px;
      float: right;
      padding: 0 22px;
      height: 366px;
    }

    .card-skills-lg-3l {
      width: 21%;
      margin-right: 5.3%;
      margin-left: 0%;
      margin-bottom: 2%;
      border-radius: 20px;
      float: left;
    }

    .card-skills-lg-3r {
      width: 21%;
      margin-left: 0;
      margin-right: 0%;
      border-radius: 20px;
      float: right;
    }

    .card-skills-lg-3l h3,
    .card-skills-lg-3r h3 {
      font-size: 26px;
      margin-top: 15px;
      margin-bottom: 0;
      padding-top: 0px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .card-skills-lg-5l p,
    .card-skills-lg-5r p {
      line-height: 2;
      font-size: 21px;
      font-weight: 400;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }

    .col-lg-12 {
      width: 100%;
    }

    .col-lg-5 {
      width: 33%;
    }

    .col-lg-7 {
      width: 66%;
    }

    .col-lg-6 {
      width: 50%;
    }

    [class*="col-"] {
      float: left;
      padding: 0 10px;
    }

    header {
      text-align: unset;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

    #projects {
      margin-top: 453px;
    }

    #projects h2 {
      font-size: 48px;
      line-height: 48px;
      padding-top: 25px;
      padding-bottom: 50px;
      margin: 0;
    }

    .row {
      margin-bottom: 100px;
    }

    .project-description-img {
      padding-left: 0;
      padding-right: 14px;
    }

    .project-description h3 {
      font-size: 36px;
      line-height: 36px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .project-description p {
      font-size: 21px;
      font-weight: 400;
      margin-top: 25px;
      margin-bottom: 50px;
    }

    #projects .button {
      position: relative;
    }

    #intro span {
      display: block;
    }

    #intro h1 {
      font-size: 120px;
      line-height: 120px;
      padding-top: 50px;
    }

    #intro h2 {
      font-size: 80px;
      font-weight: 500;
      line-height: 84px;
      padding-top: 25px;
      padding-bottom: 50px;
    }

    .about-me-header {
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      height: 529px;
      margin-bottom: 15px;
      border-radius: 20px;
    }

    .portrait {
      height: 529px;
      object-fit: cover;
      border-radius: 20px 0 0 20px;
    }

    .my-story h2 {
      padding-top: 15px;
      font-size: 40px;
    }

    .my-story p {
      padding-top: 0px;
      font-size: 16px;
    }

    .project-header {
      height: 490px;
      border-radius: 20px;
    }

    .img-align {
      padding-left: 0;
    }

    .project-header-img {
      height: 490px;
      border-radius: 20px 0 0 20px;
    }

    .project-stats {
      padding-top: 25px;
    }

    .project-stats h1 {
      font-size: 40px;
    }

    .project-stats h4 {
      font-size: 18px;
    }

    .project-stats p {
      font-size: 20px;
      padding-bottom: 25px;
    }

    .problem h3 {
      font-size: 26px;
      line-height: 26px;
      padding-left: 0px;
      margin-bottom: 0px;
    }

    .objective h3 {
      font-size: 26px;
      line-height: 26px;
      padding-left: 0px;
      margin-bottom: 0px;
    }

    .role h3 {
      font-size: 26px;
      line-height: 26px;
      padding-left: 0px;
      margin-bottom: 0px;
    }

    .problem p {
      font-size: 21px;
      font-weight: 400;
      padding-left: 0px;
      margin-top: 21px;
    }

    .objective p {
      font-size: 21px;
      font-weight: 400;
      padding-left: 0px;
      margin-top: 21px;
    }

    .role p {
      font-size: 21px;
      font-weight: 400;
      padding-left: 0px;
      margin-top: 21px;
    }

    .project-text h3 {
      font-size: 36px;
      line-height: normal;
      margin-bottom: 0;
    }

    .project-text p {
      font-size: 21px;
      font-weight: 400;
      margin-top: 21px;
    }

    .project-img {
      width: 636px;
      height: auto;
      margin-top: 40px;
      margin-bottom: auto;
      object-fit: fill;
      border-radius: 20px;
    }

    .project-img-r {
      width: 636px;
      height: auto;
      margin-top: 40px;
      margin-bottom: auto;
      object-fit: fill;
      border-radius: 20px;
    }

    .project-section {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .takeaway-banner {
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .takeaway-banner p {
      margin-left: 25%;
      margin-right: 25%;
    }
  }

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {
    .my-story p {
      padding-top: 0px;
      font-size: 18px;
    }
  }
}
