/*
Colour Palette
White: #FFFFFF; rgba(255,255,255,1)
Grey: #F4F4F4; rgba(244,244,244,1)
Black: #0F0F0F; rgba(15,15,15,1)

Project Highlight Colours
Mug Shop Orange: #D55326; rgba(213,83,38,1)
Posable Blue: #5CAAFF; rgba(92,170,255,1)
Food For You Yellow: #EDB939; rgba(237,185,57,1)
Buyit Blue: #3174B0; rgba(49,116,176,1)
*/

ul {
  list-style: none;
}

body {
  background-color: rgba(244,244,244,1);
  font-family: 'Roboto', helvetica;
  color: rgba(15,15,15,1);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* button styles */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: rgba(15,15,15,1);
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 0px; /* corner roundness */
  border: 3px solid rgba(15,15,15,1); /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  display: inline-block;
  background-color: rgba(255,255,255,1);
  color: rgba(15,15,15,1);
  font-weight: 400;
  text-decoration: none;
  border: 3px solid rgba(15,15,15,1);
}
.button:active {
  display: inline-block;
  background-color: rgba(255,255,255,1);
  color: rgba(15,15,15,1);
  font-weight: 400;
  text-decoration: none;
  border: 3px solid rgba(15,15,15,1);
}

.button-contact {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: rgba(15,15,15,1);
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 0px; /* corner roundness */
  border: 3px solid rgba(15,15,15,1); /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button-contact:hover {
  display: inline-block;
  background-color: rgba(255,255,255,1);
  color: rgba(15,15,15,1);
  font-weight: 400;
  text-decoration: none;
  border: 3px solid rgba(15,15,15,1);
}
.button-contact:active {
  display: inline-block;
  background-color: rgba(255,255,255,1);
  color: rgba(15,15,15,1);
  font-weight: 400;
  text-decoration: none;
  border: 3px solid rgba(15,15,15,1);
}

/* social button style */
.social-button {
  width: 50px;
  height: 50px;
  object-fit: scale-down;
}

/* logo style */
.my-logo {
  max-width: 200px;
  max-height: 122px;
  object-fit: cover;
}

/* portrait style*/
.portrait {
  max-width: 326px;
  max-height: 326px;
  object-fit: cover;
}

/* hyper link style*/
.hyper-link {
  color: rgba(92,170,255,1);
  text-decoration: none;
}
.hyper-link:visited {
  color: rgba(92,170,255,.8);
  text-decoration: none;
}
.hyper-link:hover {
  color: rgba(49,116,176,1);
  text-decoration: underline;
}
